<%= render partial: 'users/user', locals: { user: @user } %>
<section id="user-details">
  <div>
    <h3>Bio</h3>
    <p><%= @user.bio %></p>
  </div>
  <hr>
  <section id="posts-container">
    <% @user.posts.each do |post| %>
      <%= render partial: 'posts/post', locals: { post: post } %>
    <% end %>
  </section>
  <%= link_to user_user_posts_path(@user) do %>
    <p>See all posts</p>
  <% end %>
</section>
