<!-- app/views/users/show.html.erb -->

<section id="user-details">
  <div class="card text-bg-light mb-3" style="max-width: 100%; padding: 1rem;">
    <h3>Bio</h3>
    <div class="card-body">
      <p><%= @user.bio %></p>
    </div>
  </div>
  <br>
  <% @user_posts.each do |post| %>
    <div class="card text-bg-light mb-3" style="max-width: 100%; padding: 1rem;">
      <%= render partial: 'posts/post', locals: { post: post } %>
    </div>
  <% end %>
  
  <%= link_to 'Create New Post', new_user_post_path(@user), remote: true %>
  
  <%= link_to user_posts_path(@user) do %>
    <p>See all posts</p>
  <% end %>
</section>
