/* /*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/* app/assets/stylesheets/userposts.css */

/* Add this to your custom stylesheet (e.g., application.css or custom.css) */
.custom-container {
  max-width: 1200px; /* Adjust the value as needed */
  margin-right: auto;
  margin-left: auto;
}

.user-photo {
  height: 100px;
  width: 100%;
  object-fit: cover;
  border: 1px solid #ccc;
}

.user-info {
  height: 100px;
  border: 1px solid #ccc;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin-left: -15rem;
}

.user-info a {
  text-decoration: none;
}

.comm-like-container {
  justify-content: space-between;
}
